{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学习笔记</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    </head>

    <body style="height: 100%;margin: 0" >
    <!--Static navbar-->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="{% url 'learning_logs:index' %}">概述</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'learning_logs:overall'%}">开始记笔记！</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a>你好,{{user.username}}!</a></li>
                        <li><a href="{% url 'users:logout' %}">注销账号</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}">请先登录</a></li>
                        <li><a href="{% url 'users:register' %}">注册</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse-->
        </div>
    </nav>
    <div class="container" style="height: 100%;">
        <div class="page-header">
            {% block header %}{% endblock header %}
        </div>

        <div style="float: left;border:1px solid #d8dcff;margin-right: 5px;height: 100%">
            <div style="background-color: #f4f4f4;float: left;margin: 2px;width: auto;text-align: center;">
            {% block menu %}{% endblock menu %}
            </div>
        </div>

        <div style="overflow: hidden">
            {% block content %}{% endblock content %}
        </div>
    </div><!--/container-->

    </body>

</html>