{% extends "learning_logs/base.html" %}

{% block header %}
    <h1>主题</h1>
{% endblock header %}

{% block content %}
    <p>主题</p>

    <ul>
        {% for topic in topics %}
            <li>
                <h3>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
                    <!--需要传递一个top.id参数给url 'learning_logs:topic'-->
                    <small>
                        <a style="color: red" href="{% url 'learning_logs:delete_topic' topic.id %}">删除主题</a>
                    </small>
                </h3>
            </li>
        {% empty %}
            <li>目前还没有任何学习主题</li>
        {% endfor %}

    </ul>
    <h3>
        <a href="{% url 'learning_logs:new_topic' %}">添加一个学习主题</a>
    </h3>

{% endblock content %}